<% layout("/layouts/boilerplate")%>
<div class="headdd">
    <button class="dag3" id="myButton" style="visibility: hidden;"> <i class="fa-solid fa-bars"></i></button>
      Raja Jewellers
      
      <a href=""> <i class="fa-solid fa-shop bari"><p class="par" style="font-size: x-small; margin-right: 0.2rem;"><b>store location</b></p></i></a>
  </div>
<div style="background-color: rgb(246, 137, 137); margin: 1rem;height: 2rem; ">

   Oops Error !
</div>