<% layout("/layouts/boilerplate")%>
    

<div class="headdd">
    <button class="dag3" id="myButton" style="visibility: hidden;"> <i class="fa-solid fa-bars"></i></button>
      Raja Jewellers
      
     <a href=""> <i class="fa-solid fa-shop bari"><p class="par" style="font-size: x-small; margin-right: 0.2rem;"><b>store location</b></p></i></a>
  </div>
<h1 >Raja Jewellers: Where Elegance Meets Tradition</h1>

<h2 style="margin-bottom: 25rem;">Located near Kalibari in Shyamnagar, Raja Jewellers stands as a beacon of timeless beauty and exquisite craftsmanship in this bustling neighborhood. <br>

As you step through the ornate doors of Raja Jewellers, you are greeted by a symphony of gleaming gold, twinkling gemstones, and the rich aroma of polished wood. The showroom is a harmonious blend of old-world charm and modern sophistication, with intricately carved displays showcasing an array of jewellery pieces that whisper tales of heritage and luxury.

Each piece at Raja Jewellers is a testament to the masterful artistry and meticulous attention to detail that defines their craftsmanship. From delicately crafted necklaces adorned with precious diamonds to vibrant bangles intricately set with rubies and emeralds, every creation exudes elegance and allure.
</h2>

<div class="fot">

                   
    <div style="text-align: center; display: flex; justify-content: center;">
     <i class="fa-brands fa-youtube" style="color: red;margin: 10px;"></i>

<i class="fa-brands fa-facebook" style="color: blue; margin: 10px;"></i><br>
    </div>
    <div style="display: flex; justify-content: space-evenly; ">
     <div style="text-align: center;">
       <a href="/aboutus">About Us</a><br>
       <a href="/contactus">Contact Us</a><br>
       <a href="/store">Store Location</a>
     </div>
     <div style="text-align: center;padding-left: 40px;">
       <a href="https://groww.in/gold-rates/gold-rate-today-in-west-bengal">Gold Rate Today</a><br>
       <a href="/scamalert">Scam Alert</a>
     </div>
     <div style="text-align: center;">
       <a href="/privacypolicy">Privacy Policy</a><br>
       <a href="/terms&condition">Terms And Condition</a>
     </div>
    </div>
    
</div>