<% layout("/layouts/boilerplate")%>
    

<div class="headdd">
    <button class="dag3" id="myButton"  style="visibility: hidden;"> <i class="fa-solid fa-bars"></i></button>
      Raja Jewellers
      
     <a href=""> <i class="fa-solid fa-shop bari"><p class="par" style="font-size: x-small; margin-right: 0.2rem;"><b>store location</b></p></i></a>
  </div>
<h1 >Raja Jewellers: Where Elegance Meets Tradition</h1>

<h2 style="margin-bottom: 25rem;">Contact Us <br>

    Thank you for your interest in Raja Jewellers. For inquiries, appointments, or to explore our exquisite collection, please reach out to us via email at info@rajajewellers.com. We look forward to assisting you in finding the perfect piece that embodies elegance and sophistication. <br>

    Our Facebook Page link:- <br>
<a href="https://www.facebook.com/profile.php?id=100064074031841">Click here !</a><br>
    Our Youtube Channel link:- <br>
    <a href="https://youtube.com/@rajajewellers1168?si=WF0ddWBLuLJ4JIY_">Click here !</a><br>

    Our Email address:- <br>
    rajakarmakar1991@gmail.com
</h2>
<div class="fot">

                   
    <div style="text-align: center; display: flex; justify-content: center;">
     <i class="fa-brands fa-youtube" style="color: red;margin: 10px;"></i>
<i class="fa-brands fa-facebook" style="color: blue; margin: 10px;"></i><br>
    </div>
    <div style="display: flex; justify-content: space-evenly; ">
     <div style="text-align: center;">
       <a href="/aboutus">About Us</a><br>
       <a href="/contactus">Contact Us</a><br>
       <a href="/store">Store Location</a>
     </div>
     <div style="text-align: center;padding-left: 40px;">
       <a href="https://groww.in/gold-rates/gold-rate-today-in-west-bengal">Gold Rate Today</a><br>
       <a href="/scamalert">Scam Alert</a>
     </div>
     <div style="text-align: center;">
       <a href="/privacypolicy">Privacy Policy</a><br>
       <a href="/terms&condition">Terms And Condition</a>
     </div>
    </div>
    
</div>