<% layout("/layouts/boilerplate")%>
    

<div class="headdd">
    <button class="dag3" id="myButton"  style="visibility: hidden;"> <i class="fa-solid fa-bars"></i></button>
      Raja Jewellers
      
     <a href=""> <i class="fa-solid fa-shop bari"><p class="par" style="font-size: x-small; margin-right: 0.2rem;"><b>store location</b></p></i></a>
  </div>
<h1 >Raja Jewellers: Where Elegance Meets Tradition</h1>

<h2 style="margin-bottom: 25rem;">Scam Alert: Important Notice <br>

    Dear Valued Customers,<br>
    
    We would like to bring to your attention that Raja Jewellers does not offer online delivery services nor do we accept orders online. Our website serves solely as a catalog where you can view our exquisite designs and collections.
    
    It has come to our notice that there are fraudulent entities claiming to represent us and offering online sales and delivery services. Please be informed that any such claims are false and unauthorized. We do not engage in online transactions or accept payments through our website.
    
    To purchase our jewellery or inquire about specific pieces, we encourage you to visit our physical store or contact us directly through the provided channels. Your security and satisfaction are our top priorities, and we are committed to maintaining the integrity of our business.
    
    For any concerns or to verify the authenticity of communications claiming to be from Raja Jewellers, please contact us at info@rajajewellers.com or visit us in person.
    
    Thank you for your understanding and continued support. <br>
    
    Warm regards,<br>
    Raja Jewellers</h2><br>
<div class="fot">

                   
    <div style="text-align: center; display: flex; justify-content: center;">
     <i class="fa-brands fa-youtube" style="color: red;margin: 10px;"></i>

<i class="fa-brands fa-facebook" style="color: blue; margin: 10px;"></i><br>
    </div>
    <div style="display: flex; justify-content: space-evenly; ">
     <div style="text-align: center;">
       <a href="/aboutus">About Us</a><br>
       <a href="/contactus">Contact Us</a><br>
       <a href="/store">Store Location</a>
     </div>
     <div style="text-align: center;padding-left: 40px;">
       <a href="https://groww.in/gold-rates/gold-rate-today-in-west-bengal">Gold Rate Today</a><br>
       <a href="/scamalert">Scam Alert</a>
     </div>
     <div style="text-align: center;">
       <a href="/privacypolicy">Privacy Policy</a><br>
       <a href="/terms&condition">Terms And Condition</a>
     </div>
    </div>
    
</div>