<% layout("/layouts/boilerplate")%>
    

<div class="headdd">
    <button class="dag3" id="myButton"  style="visibility: hidden;"> <i class="fa-solid fa-bars"></i></button>
      Raja Jewellers
      
     <a href=""> <i class="fa-solid fa-shop bari"><p class="par" style="font-size: x-small; margin-right: 0.2rem;"><b>store location</b></p></i></a>
  </div>
<h1 text-align: center; >Raja Jewellers: Where Elegance Meets Tradition</h1> <br>
<h2> Dear Valued Customers,<br></h2>

<h2 style="margin-bottom: 25rem; text-align: center;"> 

   
   
    <img class="imageshow" style="border-radius: 10px;" src="https://res.cloudinary.com/dxetqhukp/image/upload/v1721662583/WhatsApp_Image_2024-07-22_at_21.00.00_cdba4ba1_zmdhhh.jpg" alt="">
    <p>**Visit Our Shop near Kalibari,Shyamnagar**</p>
    We have beautiful collection of jewellery please visit our physical store to buy .
   </h2><br>
<div class="fot">

                   
    <div style="text-align: center; display: flex; justify-content: center;">
     <i class="fa-brands fa-youtube" style="color: red;margin: 10px;"></i>

<i class="fa-brands fa-facebook" style="color: blue; margin: 10px;"></i><br>
    </div>
    <div style="display: flex; justify-content: space-evenly; ">
     <div style="text-align: center;">
       <a href="/aboutus">About Us</a><br>
       <a href="/contactus">Contact Us</a><br>
       <a href="/store">Store Location</a>
     </div>
     <div style="text-align: center;padding-left: 40px;">
       <a href="https://groww.in/gold-rates/gold-rate-today-in-west-bengal">Gold Rate Today</a><br>
       <a href="/scamalert">Scam Alert</a>
     </div>
     <div style="text-align: center;">
       <a href="/privacypolicy">Privacy Policy</a><br>
       <a href="/terms&condition">Terms And Condition</a>
     </div>
    </div>
    
</div>