<% layout("/layouts/boilerplate")%>
    

<div class="headdd">
    <button class="dag3" id="myButton"  style="visibility: hidden;"> <i class="fa-solid fa-bars"></i></button>
      Raja Jewellers
      
     <a href=""> <i class="fa-solid fa-shop bari"><p class="par" style="font-size: x-small; margin-right: 0.2rem;"><b>store location</b></p></i></a>
  </div>
<h1 >Raja Jewellers: Where Elegance Meets Tradition</h1>

<h2 style="margin-bottom: 25rem;">
 custmers must visit the physical store to make purchases, and pricing details are provided at the store: <br>

1.  Our website is for viewing our collection of jewellery designs. No online purchases or orders are accepted through this platform. <br>

2.  To purchase any item from our collection, customers must visit our physical store. <br>

3. We value your privacy. Please refer to our Privacy Policy for details on how we collect, use, and protect your information. <br>

4.  Pricing for our jewellery items is available exclusively at our physical store. Visit us to inquire about specific prices and product details. <br>

For further information or to visit our store, please contact us at <br>rajakarmakar1991@gmail.com
</h2>
<div class="fot">

                   
    <div style="text-align: center; display: flex; justify-content: center;">
     <i class="fa-brands fa-youtube" style="color: red;margin: 10px;"></i>

<i class="fa-brands fa-facebook" style="color: blue; margin: 10px;"></i><br>
    </div>
    <div style="display: flex; justify-content: space-evenly; ">
     <div style="text-align: center;">
       <a href="/aboutus">About Us</a><br>
       <a href="/contactus">Contact Us</a><br>
       <a href="/store">Store Location</a>
     </div>
     <div style="text-align: center;padding-left: 40px;">
       <a href="https://groww.in/gold-rates/gold-rate-today-in-west-bengal">Gold Rate Today</a><br>
       <a href="/scamalert">Scam Alert</a>
     </div>
     <div style="text-align: center;">
       <a href="/privacypolicy">Privacy Policy</a><br>
       <a href="/terms&condition">Terms And Condition</a>
     </div>
    </div>
    
</div>